h2 {
	padding: 10px 30px;
	font-size: 25px;
}

.header {
	align-items: center;
	justify-content: space-between;
	display: flex;
}

.currens-users-wrp {
	font-size: 15px;
	padding-right: 20px;
}

.big-btn {
	border: 1px solid;
	background-color: rgb(240, 240, 240);
	margin: 30px;
	padding: 10px 25px;
	transition-duration: 0.1s;
}

.hidden {
	visibility: hidden;
}

.circle {
	clip-path: circle(50%);
	height: 12px;
	width: 12px;
	margin-right: 5px;
	margin-left: 3px;
}

.next {
	background-color: greenyellow;
}

.user-progress {
	background-color: greenyellow;
	width: 0%;
	height: 100%;
}

.big-btn:hover {
	background-color: rgb(220, 220, 220);
}

#players-list {
	margin-left: 30px;
	padding: 15px 0px;
	width: 250px;
	height: 550px;
	flex-direction: column;
}

#text-container {
	margin-bottom: 10%;
	max-width: 90%;
	max-height: 90%;
	text-align: center;
	letter-spacing:2px
}

#game-field {
	flex-basis: 550px;
	position: relative;
	flex-direction: column;
	width: 510px;
	height: 510px;
	border: 1px solid;
	margin-left: 55px;
	justify-content: center;
	align-items: center;
}

#quit-room-btn {
	margin: 15px 30px;
}

#rating {
	height: 500px;
	width: 500px;
	position: absolute;
	z-index: 100;
	margin-left: auto;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: whitesmoke;
}

.rating-head {
	border-bottom: 1px solid;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.rating-head p {
	padding: 10px;
	height: 100%;
	font-size: 18px;
	font-weight: bold;
}

#quit-results-btn {
	padding: 8px;
}

#raiting-main {
	padding-top: 20px;
	height: 462px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

#raiting-main p {
	font-size: 22px;
	font-weight: bold;
	margin-top: 30px;
	text-align: center;
}

.close {
	height: 50px;
}

.written {
	color: white;
	background-color: green;
}

.player-wrp p {
	overflow: hidden;
}

.player-wrp {
	margin: 10px 0px;
}

.player {
	align-items: center;
	padding: 5px 0px;
}

.user-progress-wrp {
	padding: 0px;
	height: 30px;
	border: 1px solid;
}

#rooms {
	margin: 30px 20px;
	flex-wrap: wrap;
}

#ready-btn {
	font-size: 27px;
	width: 180px;
	height: 70px;
}

.btn-ready-status-green {
	color: white;
	background-color: rgb(0, 167, 0);
	transition-duration: 0.1s;
}

.btn-ready-status-red {
	color: white;
	background-color: red;
	transition-duration: 0.1s;
}

.btn-ready-status-green:hover {
	background-color: rgb(0, 155, 0);
}

.ready-status-red {
	background-color: red;
}

.ready-status-green {
	background-color: rgb(0, 167, 0);
}

.btn-ready-status-red:hover {
	background-color: rgb(221, 0, 0);
}

.start-counter {
	font-size: 30px;
}

.game-counter {
	position: absolute;
	font-size: 15px;
	left: 485px;
	bottom: 480px;
}

.room {
	margin: 10px;
	border: 1px solid;
	display: flex;
	justify-content: space-between;
	flex-basis: 200px;
	height: 155px;
	align-items: center;
	flex-direction: column;
}

.room-name {
	text-align: center;
}

.count-in-room {
	align-self: flex-start;
	padding: 5px;
	font-size: 10px;
}

.join-btn {
	padding: 3px 20px;
	margin: 12px;
	border: 1px solid;
	background-color: rgb(240, 240, 240);
	transition-duration: 0.1s;
}

.join-btn:hover {
	background-color: rgb(220, 220, 220);
}





#comment {
	font-size: 14px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 410px;
	height: 200px;
	padding: 20px;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
	bottom: 0px;
	left: 152px;
}

#comment:before { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 30px; 
	top: 184px; 
	border: 35px solid; 
	border-color: #666 transparent transparent #666; 
}
#comment:after { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 38px; 
	top: 184px; 
	border: 25px solid; 
	border-color: #fff transparent transparent #fff; 
}
#commentator-img{
	margin-top: 50px;
	width: 200px;
	height: 200px;
	margin-left: 25px;
}
.comment-block{
	display: flex;
	flex-direction: column;
}
